@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>Contoso University</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Welcome to Contoso University</h2>
        <p>
            This is the web site for Contoso University!
        </p>
    </div>
    <div class="col-md-4">
        <h2>You may learn VBA here!</h2>
        <p>
            VBA is a great language!
        </p>
    </div>
    <div class="col-md-4">
        <h2>VBA is not a macro!</h2>
        <p>
            Thank you for following this video!
        </p>
    </div>
</div>