@model  PartyInvites.Models.GuestResponse
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Thanks</title>
    <link rel="stylesheet" href="\lib\bootstrap\dist\css\bootstrap.min.css" />
</head>
<body>
    <p>
        <h1>Thank you, @Model.Nickname</h1>
        @if (Model.WillAttend==true)
        {
            @:It is great that you are coming! The drinks are on me!
        }
        else
        {
            @:Sorry to hear you are not coming! No free drinks from me then.
        }
    </p>
    <p>Click <a asp-action="ListResponses">here</a> to see who is coming.</p>
</body>
</html>