@model IEnumerable<PartyInvites.Models.GuestResponse>
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Responses</title>
    <link rel="stylesheet" href="\lib\bootstrap\dist\css\bootstrap.min.css" />
</head>
<body>
    <div class="panel-body">
        <h2>List of party people:</h2>
        <table class="table table-sm table-striped table-bordered">
            <thead>
                <tr>
                    <th>NickName</th>
                    <th>FancyMail</th>
                    <th>FavouriteAnimal</th>
                </tr>
            </thead>
            <tbody>
                @foreach (PartyInvites.Models.GuestResponse r in Model)
                {
                    <tr>
                        <td>@r.Nickname</td>
                        <td>@r.Fancymail</td>
                        <td>@r.FavouriteAnimal</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="nav-divider">
        <p>Click <a asp-action="Index">here</a> to invite more friends!</p>
    </div>
</body>
</html>
