@model  PartyInvites.Models.GuestResponse
@{
    Layout = null;
}
    
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>RsvpForm</title>
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="stylesheet" href="\lib\bootstrap\dist\css\bootstrap.min.css" />
</head>
<body>
    <div class="panel-success"></div>
    <div class="panel-heading text-center"><h4>RSVP</h4></div>
    <div class="panel-body">
        <form class="p-a-1" asp-action="RsvpForm" method="post">
            <div asp-validation-summary="All"></div>
            <div class="form-group">
                <p>
                    <label asp-for="Nickname">Your nick:</label>
                    <input class="form-control" asp-for="Nickname" />
                </p>
            </div>
            <div class="form-group">
                <p>
                    <label asp-for="Fancymail">Fancy mail:</label>
                    <input class="form-control" asp-for="Fancymail" />
                </p>
            </div>
            <div class="form-group">
                <p>
                    <label asp-for="FavouriteAnimal">Favourite animal:</label>
                    <input class="form-control" asp-for="FavouriteAnimal" />
                </p>
            </div>
            <div class="form-group">
                <p>
                <label>Will you attend?</label>
                    <select asp-for="WillAttend">
                        <option value="">Choose an option</option>
                        <option value="true">Yes, I will attend!</option>
                        <option value="false">No, I will not come.</option>
                    </select>
                </p>
            </div>
            <div class="text-center">
                <button class ="btn btn-primary" type="submit">Submit Rsvp</button>
            </div>
        </form>
    </div>
</body>
</html>