.field-validation-error{
    color: aquamarine
}

.field-vlaidation-valid{
    color: olive
}

.field-validation-error{
    border: 3px solid #e61616
}

.validation-summary-valid{
    color: yellowgreen
}

.input-validation-error{
    border: 1px solid #f00;
    background-color: #fee;
}